@model WebApp_AAJI.Models.typeFinanceTransaction

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>typeFinanceTransaction</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.tftID)

        <div class="form-group">
            @Html.LabelFor(model => model.tftID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ddlTft", (IEnumerable<SelectListItem>)ViewBag.sddlTft, "- Select -", new { @class = "form-control", @onchange = "javascript:document.getElementById('tftID').value=this.value;" })
                @Html.ValidationMessageFor(model => model.tftID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tftName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tftName)
                @Html.ValidationMessageFor(model => model.tftName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.accountNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.accountNo)
                @Html.DropDownList("ddlAccount", (IEnumerable<SelectListItem>)ViewBag.sddlAccount, "- Select -", new { @class = "form-control", @onchange = "javascript:document.getElementById('accountNo').value=this.value;" })
                @Html.ValidationMessageFor(model => model.accountNo)
            </div>
        </div>
                @Html.HiddenFor(model => model.createdDate)
                @Html.HiddenFor(model => model.createdUser)
                @Html.HiddenFor(model => model.modifiedDate)
                @Html.HiddenFor(model => model.modifiedUser)
        @*<div class="form-group">
            @Html.LabelFor(model => model.createdDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.createdDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createdUser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.createdUser)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modifiedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.modifiedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modifiedUser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.modifiedUser)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
