@model WebApp_AAJI.Models.financeTransactionHeader

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>financeTransactionHeader</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.voucherNo)

        <div class="form-group">
            @Html.LabelFor(model => model.id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id)
                @Html.ValidationMessageFor(model => model.id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.voucherDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.voucherDate)
                @Html.ValidationMessageFor(model => model.voucherDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tftID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tftID)
                @Html.ValidationMessageFor(model => model.tftID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.billingType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.billingType)
                @Html.ValidationMessageFor(model => model.billingType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.billingNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.billingNo)
                @Html.ValidationMessageFor(model => model.billingNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clearingDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.clearingDate)
                @Html.ValidationMessageFor(model => model.clearingDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.amount)
                @Html.ValidationMessageFor(model => model.amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.remarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.remarks)
                @Html.ValidationMessageFor(model => model.remarks)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createdUser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createdUser)
                @Html.ValidationMessageFor(model => model.createdUser)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createdDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createdDate)
                @Html.ValidationMessageFor(model => model.createdDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modifiedUser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modifiedUser)
                @Html.ValidationMessageFor(model => model.modifiedUser)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modifiedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modifiedDate)
                @Html.ValidationMessageFor(model => model.modifiedDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
