@model WebApp_AAJI.Models.potongan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>potongan</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.createdUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedDate)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
