@model WebApp_AAJI.Models.level

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>level</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.levelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.levelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saldoCuti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saldoCuti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GajiTerendah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GajiTerendah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GajiTertinggi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GajiTertinggi)
        </dd>

    </dl>
</div>

<div id="dvDetail">
    @Html.Partial("_PartialPagePenghasilan2")
</div>

<div id="dvDetail">
    @Html.Partial("_PartialPagePengurangPenghasilan2")
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.levelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
