@model WebApp_AAJI.Models.email

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>email</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.emailName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emailName)
                @Html.ValidationMessageFor(model => model.emailName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emailAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emailAddress)
                @Html.ValidationMessageFor(model => model.emailAddress)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.createdDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createdDate)
                @Html.ValidationMessageFor(model => model.createdDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createdUser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createdUser)
                @Html.ValidationMessageFor(model => model.createdUser)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modifiedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modifiedDate)
                @Html.ValidationMessageFor(model => model.modifiedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modifiedUser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modifiedUser)
                @Html.ValidationMessageFor(model => model.modifiedUser)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
