@model WebApp_AAJI.Models.holiday

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>holiday</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.holidayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.holidayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.holidayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
