@*@model IEnumerable<WebApp_AAJI.Models.fixedAsset>*@
@model PagedList.IPagedList<WebApp_AAJI.Models.fixedAsset>
@using PagedList.Mvc;
@using WebApp_AAJI.Controllers;

@{
    ViewBag.Title = "Fixed Asset";
}

<h2>@ViewBag.Title</h2>

@{
    CommonController cc = new CommonController();
}
<p>
    <img src='~/img/add.png' style="width:15px" /> @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "FixedAsset", FormMethod.Get))
{
    <p>
        Find : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        Date : @Html.TextBox("startDate", ViewBag.startDateFilter as string, "{0:yyyy-MM-dd}", new { type = "date" }) @Html.TextBox("endDate", ViewBag.endDateFilter as string, "{0:yyyy-MM-dd}", new { type = "date" })
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.purchaseDate)*@
            @Html.ActionLink("Purchase Date", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.salesDate)*@
            Sales Date
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.fixedAssetType)*@
            Asset Type
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.fixedAssetName)*@
            Asset Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.fixedAssetCode)*@
            Asset Code
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.fixedAssetStatus)*@
            Asset Status
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.amount)*@
            Amount
        </th>
        <th>
            Depreciation
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    var dtPurchase = (DateTime)item.purchaseDate;
    var dtSales = (DateTime)item.salesDate;
    <tr>
        <td>
            @if (item.purchaseDate != null)
            {
                @dtPurchase.ToString("dd MMM yyyy")
            }
            else
            {
                @Html.DisplayFor(modelItem => item.purchaseDate)                
            }
        </td>
        <td>            
            @if (item.salesDate != null)
            {
                @dtSales.ToString("dd MMM yyyy")
            }
            else
            {
                @Html.DisplayFor(modelItem => item.salesDate)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fixedAssetType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fixedAssetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fixedAssetCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fixedAssetStatus)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.amount)*@
            @item.amount.ToString("#,##0")
        </td>
        <td>
            @{
                decimal amountAfterDepreciation = cc.depreciationAsset(item.depreciationPeriod, item.depreciationProcentage, item.depreciationValPeriod, item.purchaseDate, item.amount);
                @amountAfterDepreciation.ToString("#,##0,#0")
            }
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.fixedAssetID }) <img src='~/img/edit.png' style="width:15px" /> |
            @Html.ActionLink("Details", "Details", new { id = item.fixedAssetID }) <img src='~/img/view.png' style="width:15px" /> |
            @Html.ActionLink("Delete", "Delete", new { id = item.fixedAssetID }) <img src='~/img/delete.png' style="width:15px" />*@ 

            <a href="@Url.Action("Edit")/@item.fixedAssetID"><img src='~/img/edit.png' style="width:15px" title="Edit" /></a>&nbsp;&nbsp;&nbsp;
            <a href="@Url.Action("Details")/@item.fixedAssetID"><img src='~/img/view.png' style="width:15px" title="View" /></a>&nbsp;&nbsp;&nbsp;
            <a href="@Url.Action("Delete")/@item.fixedAssetID"><img src='~/img/delete.png' style="width:15px" title="Delete" /></a>&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
}
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, startDateFilter = ViewBag.startDateFilter, endDateFilter = ViewBag.endDateFilter }))