@using System.Data;
<script>
    function generatePDF()
    {
       var startDate = document.getElementById('startDate').value;
        var endDate = document.getElementById('endDate').value;

        //alert(period+"-"+empId);
        if (startDate != "" && endDate != "")
            $("#dvReport").load('@(Url.Action("GenerateReport", "ReportPurchasReturn", null, Request.Url.Scheme))?startDate=' + startDate + "&endDate=" + endDate);

    }
</script>
@{
    bool hasData = false;
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Receive No.</th>
            <th>Receive Date</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.detail != null)
        {
            DataTable dt = ViewBag.detail as DataTable;
            if (dt.Rows.Count > 0)
            {
                hasData = true;
                foreach (DataRow dr in dt.Rows)
                {
                    DateTime dtReceive = DateTime.Parse(dr["receiveDate"].ToString());
                    <tr>
                        <td>@dr["receiveNo"].ToString()</td>
                        <td>@dtReceive.ToString("dd-MMM-yyyy")</td>
                        <td>@dr["remarks"].ToString()</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No Data Result</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4"></td>
            </tr>
        }
    </tbody>
</table>

@if (hasData == true)
{

    @*<a href="@Url.Action("GenerateReport" + ViewBag.linkAction)"> Print PDF</a>*@
    <img src="~/img/pdf.png" width="25px" onclick="generatePDF()" /> @("Print PDF")
    <div id="dvReport" style="display:none">

    </div>
}
